		<div class="body">
		<div class="div-content">
		<%= render 'users/list', user: @user, new_book: @new_book %>

			<div class="col-xs-9">
				<h2>Users</h2>
				<table class="table">
					<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<% @users.each do |user|%>
						<tr>
							<td>
								<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg',  fallback: "no_image.jpg", size: '60x60' %>
							</td>
							<td>
								<%= user.name %>
							</td>
							<td>
								<%=link_to "show", user_path(user.id) %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		</div>

